.wrap {
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3px;
}

* {
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    margin-bottom: 3px;
    height: 50px;
}
.header, .main__right, .main__left__header, .footer__item {
    background: lightgray;
}
.main__contant {
    display: flex;
    column-gap: 3px;
}

.container {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.main__left__header {
    height: 150px;
}
.footer {
    column-gap: 3px;
    height: 100%;
}

.footer__item {
    flex-grow: 1;
    height: 100%;
}
.main__right {
    width: 100px;
    height: 200px;
}