@media screen and (max-width: 400px) {
.header__logo img {
    width: 45px;
}

.header__top {
    padding-top: 20px;
}

.header__nav__contact {
    display: none;
}

.header__main__title h2 {
    font-size: 30px;
    line-height: 34px;
    display: flex;
    justify-content: center;
}
.header__main__title h1 {
    font-size: 40px;
    line-height: 46px;
    display: flex;
    justify-content: center;
}

.header__main__title p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

    .header__main__title p::before,
    .header__main__title p::after {
        display: none;
    }

.main {
    background: azure;
}

}