.wrap {
    background: silver;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a {
    width: 500px;
    height: 50px;
    background: #d90b59;
}
.main {
    display: flex;
    background: blue;
}

.bcde {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.b {
    width: 300px;
    height: 50px;
    background: greenyellow;
}
.f {
    width: 100px;
    height: 200px;
}
