.wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 450px;
    row-gap: 5px;
}
.t-centr {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.header{
    height: 95px;
}
.header, .footer {
    background: blue;
    display: flex;
}
.main {
    display: flex;
    justify-content: space-between;
}

.main .item {
    height: 100px;
    width: 100px;
    background: darkblue;
}
div.footer {
    height: 250px;
}